{% extends 'default.html' %}

{% block title %}
<h2><p style="text-align: center;"><strong>Добро пожаловать на LoCalHost!</strong></p></h2>
<img src="/media/uploads/tiger.jpg.webp" height="450" width="700" class="rounded mx-auto d-block">
{% endblock title %}

{% block content %}

<p>&nbsp;</p>
<p style="text-align: center;">LoCalHost - независимый новостной блог в сети интернет с ежемесячной аудиторией более 10 активных пользователей. Проект посвящен популярным онлайн MMORPG играм для компьютеров, браузеров и мобильных телефонов. Цель нашего сайта &mdash; предоставить игрокам точную и полезную информацию по MMORPG играм. На сайте мы публикуем новости, рекомендации, обзоры, ТОПы и другие подборки, которые наверняка будут интересны всем любителям жанра ролевых игр в России и за её пределами. Следите за обновлениями сайта и оставайтесь в курсе всего, что происходит в ММОРПГ индустрии.<br /><br /></p>

{% endblock content %}