{% extends 'default.html' %}

{% block content%}

{% if is_not_premium %}
<button> <a href="/sign/upgrade/"> Хочу Premium!</a> </button>

{% else %}
<h4>Поиск по комментариям:</h4>
{% endif %}
<form action="" method="get">
       {{ filterset.form }}
       <input type="submit" value="Найти" />
   </form>
<br>
<h4>Комментарии, ожидающие модерацию:</h4>
{%if comments%}
<br>
{%for comment in comments%}
<table>
    <tr>
        <p style="text-align: left;">Дата: <b>{{ comment.date}}</b></p>
        <p style="text-align: left;">Статус: <b>{{ comment.is_accepted }}</b></p>
        <p style="text-align: left;">Автор: <b>{{ comment.author}}</b></p>
        <p style="text-align: left;">Комментарий: <b>{{ comment.text}}</b></p>
    </tr>
    <form action="{% url 'approve' comment.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Принять</button>
    </form>  | <form action="{% url 'disapprove' comment.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Отклонить</button>
    </form>  | <form action="{% url 'delete_comment' comment.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Удалить</button></form>


    <hr>
    <br>
    {% endfor %}
    </table>
{% endif %}
</table>

{% endblock content%}