{% extends 'default.html' %}
{% load custom_tags %}
{% block content%}

{% if is_not_premium %}
<button> <a href="/sign/upgrade/"> Хочу Premium!</a> </button>

{% else %}
<h4>Поиск по комментариям:</h4>
{% endif %}
<form action="" method="get">
       {{ filterset.form }}
       <input type="submit" value="Найти" />
   </form>
    {% endfor %}
<br>
<h4>Все комментарии, адресованные вам:</h4>
{%if comments%}
<br>

{%for comment in comments%}
<table>
    <tr>
        <p style="text-align: left;">Дата: <b>{{ comment.date}}</b></p>
        <p style="text-align: left;">Статус: <b>{{ comment.is_accepted }}</b></p>
        <p style="text-align: left;">Автор: <b>{{ comment.author}}</b></p>
        <p style="text-align: left;">Комментарий: <b>{{ comment.text}}</b></p>
    </tr>
    <form action="{% url 'approve' comment.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Принять</button>
    </form>  | <form action="{% url 'disapprove' comment.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Отклонить</button>
    </form>  | <form action="{% url 'delete_comment' comment.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Удалить</button></form>
    <hr>
    <br>
    {% endfor %}
    </table>
{% endif %}


{% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
{% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content%}