{% extends 'default.html' %}

{% block content %}
<table>
    <tr>
        <p style="text-align: left;">Заголовок:<b>{{ post.title}}</b> </p>
        <p style="text-align: left;">Категория: {{ post.type }}
            {% for cat in post.type.all %}
            {{cat}}
            {% endfor %}</p>
        <p style="text-align: left;">Сообщение: {{ post.content }}</p>
        <p style="text-align: left;">{% if post.upload %}
                    <img src="{{ MEDIA_URL }}{{ post.upload.url }}" height="400" width="700" class="rounded mx-auto d-block" alt='Нет изображения'>

                {% else %}
                    <img src="/media/uploads/8.jpg.png" height="300" width="400" class="rounded mx-auto d-block">
                {% endif %}</p>
        <p style="text-align: left;"><span style="color: #999999;"><em>Дата публикации: {{ post.datecreation}}</em></span></p>
        <p style="text-align: left;"><span style="color: #999999;"><em>Автор: {{ post.author }}</em></span></p>
    </tr>
    <br>
    <hr>
    <br>

</table>
{%if comments%}
{% for comment in comments %}
    <div class="comment">
        <p class="info">
            Автор: {{ comment.author }}
        </p>
        <div class="comment-text">
            {{ comment.text }} <hr></div>
    </div>
{% endfor %}
{% else %}
<p>К данной записи комментариев пока нет.</p>
{% endif %}

    <h4>Добавьте комментарий:</h4>
    <form action="{% url 'add_comment' post.id %}" method="post">
        <table class="table">
            {{ form.as_table }}
        </table>

        {% csrf_token %}
        <p><input type="submit" value="Добавить"></p>
    </form>
{% endblock content %}
