{% extends 'default.html' %}


{% block title %}
<hr>
<i><h7>В этой рубрике собраны все новости компьютерных игр 2022 года: громкие анонсы, горячие события, долгожданные релизы, популярные тренды – все из мира игр для ПК, консолей и мобильных платформ, что может быть вам интересно. Мы работаем семь дней в неделю, двадцать четыре часа в сутки, и оперативно доносим до вас самую свежую информацию.Если вы хотите принимать активное участие в жизни нашего сайта и помогать в его развитии - перейдите в "Моя страница" и нажмите кнопку "Хочу Premium!"</h7></i>
<hr>
{% endblock title %}

{% block content %}
<br>
<h5>Последние новости:</h5>
<br>
{% if posts%}
{% for post in posts %}
<table>
    <tr>
        <p style="text-align: left;">Заголовок: {{ post.title}}</p>
        <p style="text-align: left;">Категория: {{ post.type }}
            {% for cat in post.type.all %}
            {{cat}}
            {% endfor %}</p>
        <p style="text-align: left;">Сообщение: {{ post.content }}</p>
        <p style="text-align: left;">
            {% if post.upload %}
                    <img src="{{ MEDIA_URL }}{{ post.upload.url }}" height="400" width="700" class="rounded mx-auto d-block" alt='Нет изображения'>

                {% else %}
                    <img src="/media/uploads/8.jpg.png" class="rounded mx-auto d-block" height="300" width="400">
                {% endif %}</p>
        <p style="text-align: left;"><span style="color: #999999;"><em>Дата публикации: {{ post.datecreation}}</em></span></p>
        <p style="text-align: left;"><span style="color: #999999;"><em>Автор: {{ post.author }}</em></span></p>

    </tr>
    <button> <a href="{% url 'post_detail' pk=post.pk %}"> Подробнее</a> </button>
    <br>
    <hr>
    <br>

    {% endfor %}

</table>
{% else %}
<h2>Сообщений нет!</h2>
{% endif %}


{% endblock content %}