{% extends 'default.html' %}


{% block title %}
<hr>
<i><h7>В этой рубрике собраны все новости компьютерных игр 2022 года: громкие анонсы, горячие события, долгожданные релизы, популярные тренды – все из мира игр для ПК, консолей и мобильных платформ, что может быть вам интересно. Мы работаем семь дней в неделю, двадцать четыре часа в сутки, и оперативно доносим до вас самую свежую информацию.Если вы хотите принимать активное участие в жизни нашего сайта и помогать в его развитии - перейдите в "Моя страница" и нажмите кнопку <mark> "Хочу Premium!</mark>"</h7></i>
<hr>
{% endblock title %}

{% block content %}
<br>
<h5>Последние новости:</h5>
<br>
{% if posts%}
{% for post in posts %}
<table>
    <tr>
        <p style="text-align: left;">Заголовок: <b>{{ post.title}}</b></p>
        <p style="text-align: left;">Категория: {{ post.type }}
            {% for cat in post.type.all %}
            {{cat}}
            {% endfor %}</p>
        <p style="text-align: left;">Сообщение: {{ post.content|truncatechars:500 }}</p>
        <p style="text-align: left;">
            {% if post.upload %}
                    <img src="{{ MEDIA_URL }}{{ post.upload.url }}" height="400" width="700" class="rounded mx-auto d-block" alt='Нет изображения'>

                {% else %}
                    <img src="/media/uploads/8.jpg.png" class="rounded mx-auto d-block" height="300" width="400">
                {% endif %}</p>
        <p style="text-align: left;"><span style="color: #999999;"><em>Дата публикации: {{ post.datecreation}}</em></span></p>
        <p style="text-align: left;"><span style="color: #999999;"><em>Автор: {{ post.author }}</em></span></p>

    </tr>
    <button> <a href="{% url 'post_detail' pk=post.pk %}"> Подробнее</a> </button>
    <br>
    <hr>
    <br>

    {% endfor %}

</table>
{% else %}
<h2>Сообщений нет!</h2>
{% endif %}
{% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}